/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-n8finch-blog-filter {
	border: 1px dotted #f00;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
